
.footer{
    background-color: white;
    padding: 3px;
    color: #538397;
    border-bottom: solid 1 px #538397;
    display: flex;
    flex-direction: row;
    align-items: center;
}
 .img_film {
    height: 100px;
    
}



ul  {
    list-style: none;
     padding: 10px 120px;
     margin: 0 100px;
}

.fb{
    height: 30px;
}

.x{
    height: 30px;
}

